DENO_HOST= # MongREST host address. (Defaults to "127.0.0.1")
DENO_PORT= # MongREST port. (Defaults to 17017.)
MONGO_PASS= # MongoDB user password.
MONGO_URI= # MongoDB Atlas URI.
MONGO_USER= # MongoDB user.
